body{
    font-family: "Open Sans",Calibri,Candara,Arial,sans-serif;
    background-image: url("../images/stars.jpg");
    background-size:100% auto;
    background-
}

#cnvGame{
    /*background-image: url("./images/grass.jpg");*/
    background-color: rgba(255,255,255,0.1);
    background-size:100%;
    cursor:none;
}

#wrapper{
    width:1000px;
    margin: 0 auto;
    margin-top: 120px;
}
.title,
section{
    color: #F5f5f5;
}
.right{
    float:right;
    clear:right;
}

.left{
    float:left;
    clear:left;
}

#controls{
    clear:both;
}




